header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  position: fixed;
  z-index: 999;

}
.header{
  color: chartreuse;
}

#menu li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  color: chartreuse;
  font-weight: 700;
}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}

#home {
  /* background-color: #59405c; */
  background-image: url("hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}
.heros-text { 
  margin-top: 50px;
  margin-left: 100px;
  color: #fff;
 font-size: 2em;
}
.object {
  height: 350px;
  width: 600px;
  margin-top: 280px;
  margin-left: 100px;
}
.quote-button {
  background-color: green;
  color: yellow;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
