#product {
  background-image: linear-gradient(to right bottom, gold 0%, white 100%);
  background-size: cover;
  height: 110vh;
  background-repeat: no-repeat;
  padding: 20px;
  /* margin-bottom: 20px; */
  margin-top: 10rem;
  height: 100%;

}

.product-header {
  text-align: left;
  margin-right: 20px;
}

.product-image {
  float: right;
  margin-left: 20px;
  margin-top: -70px;
  height: auto;
  width: auto;
}
.product-page {
  margin-top: 100px;
}
.product-page h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 600;
}
.product-page p {
  margin-top: 80px;
  color: #0c9f22;
  font-size: 1.3rem;
  width: 90%;
}
